$text-color: hsl(210,11.9%,16.5%);
$subtle-color: #7b6374;
$invert-subtle-color: rgba(255,255,255, 0.5);
$attention-color: #7a7ea0; //rgba(37, 42, 47, 0.9);

$font-weight: 600;
$subtle-weight: 400;

$gutter-left: 2.5rem;
$gutter-right: 1.5rem;